body{
    background-color: whitesmoke;
    font-family: monospace;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.active{
    fill: #000;
    transition: fill 0.3s ease-out;
}

.inactive{
    font-weight: lighter;
    fill: gainsboro;
    transition: fill 0.3s ease-out;
}

.tooltip {
    position: absolute;
    width: 150px;
    height: 80px;
    padding: 2px;
    padding-top: 8px;
    font: 12px sans-serif;
    color: white;
    text-align: center;
    background: #2c2b2e5e;
    border: 0;
    border-radius: 10px;
  }

.active-point{
    stroke: black;
}